<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <!-- meta charec set -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Page Title -->
    <title>Cloth It - Share the way you look !</title>
    <!-- Meta Description -->
    <meta name="description" content="Share the way you look">
    <meta name="keywords" content="cloth app, clothit, iphone app, ios app, android app, share clothes, be popular">
    <meta name="author" content="Cloth It">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- CSS
    ================================================== -->
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="css/font-awesome.css">
    <!-- Twitter Bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- jquery.fancybox  -->
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <!-- animate -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/main.css">
    <!-- media-queries -->
    <link rel="stylesheet" href="css/media-queries.css">
    <!-- Modernizer Script for old Browsers -->
    <script src="js/modernizr-2.6.2.min.js"></script>
</head>

<body id="body">

    <!-- preloader -->
    <div id="preloader">
        <img src="img/preloader.gif" alt="Preloader">
    </div>
    <!-- end preloader -->
    <!--
    Fixed Navigation
    ==================================== -->
    <header id="navigation" class="navbar-fixed-top navbar">
        <div class="container">
            <div class="navbar-header">
                <!-- responsive nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars fa-2x"></i>
                </button>
                <!-- /responsive nav button -->
                <!-- logo -->
                <a class="navbar-brand" href="#body">
                    <h1 id="logo">
                        <img src="img/logo.png" alt="Cloth it">
                    </h1>
                </a>
                <!-- /logo -->
            </div>
            <!-- main nav -->
            <nav class="collapse navbar-collapse navbar-right" role="navigation">
                <ul id="nav" class="nav navbar-nav">
                    <li class="current"><a href="#body">Home</a></li>
                    <li><a href="#features">How to Use</a></li>
                    <li><a href="#works">Preview</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
            <!-- /main nav -->

        </div>
    </header>
    <!--
    End Fixed Navigation
    ==================================== -->
    <!--
    Home Slider
    ==================================== -->

    <section id="slider">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <!-- Indicators bullet -->
            @*<ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                </ol>*@
            <!-- End Indicators bullet -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <!-- single slide -->
                <div class="item active" style="background-image: url(img/banner.jpg);">
                    <div class="carousel-caption">
                        <img data-wow-duration="500ms" data-wow-delay="500ms" class="wow bounceInDown animated" style="margin-top:-150px" src="img/logo-big.png" alt="Clothit">
                        <h3 data-wow-duration="1000ms" class="wow slideInLeft animated"><span class="color" contenteditable="false">/share</span> The way you look</h3>
                        <p data-wow-duration="1000ms" class="wow slideInRight animated">Use our revolutionary fashion app</p>

                        <ul class="social-links text-center">
                            <li><a href="http://www.facebook.com/clothit"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li><a href="http://www.twitter.com/cloth_it"><i class="fa fa-facebook fa-lg"></i></a></li>

                        </ul>
                    </div>
                </div>
                <!-- end single slide -->
                <!-- single slide -->
                @*<div class="item" style="background-image: url(img/banner.jpg);">
                        <div class="carousel-caption">
                            <h2 data-wow-duration="500ms" data-wow-delay="500ms" class="wow bounceInDown animated">Meet<span> Team</span>!</h2>
                            <h3 data-wow-duration="500ms" class="wow slideInLeft animated"><span class="color">/creative</span> one page template.</h3>
                            <p data-wow-duration="500ms" class="wow slideInRight animated">We are a team of professionals</p>

                            <ul class="social-links text-center">
                                <li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
                                <li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
                                <li><a href=""><i class="fa fa-dribbble fa-lg"></i></a></li>
                            </ul>
                        </div>
                    </div>*@
                <!-- end single slide -->

            </div>
            <!-- End Wrapper for slides -->

        </div>
    </section>

    <!--
    End Home SliderEnd
    ==================================== -->
    <!--
    Features
    ==================================== -->

    <section id="features" class="features">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
                    <h2>How to use</h2>
                    <div class="devider"><i class="fa fa-mobile fa-lg"></i></div>
                </div>
                <!-- service item -->
                <div class="col-md-3 wow fadeInLeft" data-wow-duration="500ms">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-camera-retro fa-2x"></i>
                        </div>

                        <div class="service-desc">
                            <h3>Take a pic</h3>
                            <p>Take yourself a picture and select and identify the pieces of clothing that you want to have some feedback</p>
                        </div>
                    </div>
                </div>
                <!-- end service item -->
                <!-- service item -->
                <div class="col-md-3 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-share-alt fa-2x"></i>
                        </div>

                        <div class="service-desc">
                            <h3>Share</h3>
                            <p>Share the way you dress in trending threads or in private groups with your friends</p>
                        </div>
                    </div>
                </div>
                <!-- end service item -->
                <!-- service item -->
                <div class="col-md-3 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-thumbs-o-up fa-2x"></i>
                        </div>

                        <div class="service-desc">
                            <h3>Get Feedback</h3>
                            <p>Get the opinion from members of the community where you share your clothes, they could suggest you new clothes or combinations</p>
                        </div>
                    </div>

                </div>
                <!-- end service item -->
                <!-- service item -->
                <div class="col-md-3 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="1300ms">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-star-o fa-2x"></i>
                        </div>

                        <div class="service-desc">
                            <h3>Be Popular</h3>
                            <p>Every time someone likes your clothes you will be more popular in your community, and your opinions will be more important</p>
                        </div>
                    </div>
                </div>
                <!-- end service item -->

            </div>
        </div>
    </section>

    <!--
    End Features
    ==================================== -->
    <!--
    Our Works
    ==================================== -->

    <section id="works" class="works clearfix">
        <div class="parallax-overlay2">



            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
                            <h2>Platforms</h2>
                            <div class="devider"><i class="fa fa-tablet fa-lg"></i></div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4 column wow fadeInLeft delay=600ms">
                        <img src="img/ANDROID_SCREENSHOT.png" alt="Android" />
                    </div>
                    <div class="col-md-4 column">
                        <div class="row clearfix">
                            <div class="col-md-12 column sec-title mb50" style="margin-top:50px">
                                <h2>
                                    Android
                                </h2><span>Minimum requirements Android 4.0+</span><img src="img/android.png" alt="Android" />
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12 column sec-title mb50" style="text-align:right">
                                <h2 style="margin-right:30px">
                                    iOS
                                </h2><span>Minimum requirements iPhone 4, iOS 8.0+</span><img src="img/ios.png" alt="iOS" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 column wow fadeInRight delay=1000ms">
                        <img src="img/IPHONE_SCREENSHOT.png" alt="iOS" />
                    </div>
                </div>
            </div>


    </section>

    <!--
    End Our Works
    ==================================== -->
    <!--
    Meet Our Team
    ==================================== -->

    <section id="team" class="team">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
                    <h2>Meet Our Team</h2>
                    <div class="devider"><i class="fa fa-laptop fa-lg"></i></div>
                </div>

                <div class="sec-sub-title text-center wow fadeInRight animated" data-wow-duration="500ms">
                    <p>We are a group of students from the Universidad Católica del Uruguay, all of us are currently working in the Computer Science field</p>
                </div>
                <!-- single member -->
                <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                    <div class="member-thumb">
                        <img src="img/team/mauri.jpg" alt="Team Member" class="img-responsive">
                        <figcaption class="overlay">
                            <h5>Marketing Manager</h5>
                            <p>Mauricio is in charge of getting new contacts and promote the site</p>
                            <ul class="social-links text-center">
                                <li><a href="https://www.twitter.com/maugsosa"><i class="fa fa-twitter fa-lg"></i></a></li>
                                <li><a href="https://www.facebook.com/mauricioeduardo.garciasosa"><i class="fa fa-facebook fa-lg"></i></a></li>
                                <li><a href="https://plus.google.com/u/0/106837029112761876428/posts"><i class="fa fa-google-plus fa-lg"></i></a></li>
                            </ul>
                        </figcaption>
                    </div>
                    <h4>Mauricio Garcia</h4>
                    <span>Marketing Manager</span>
                </figure>
                <!-- end single member -->
                <!-- single member -->
                <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="member-thumb">
                        <img src="img/team/sebag.jpg" alt="Team Member" class="img-responsive">
                        <figcaption class="overlay">
                            <h5>UI/UX Designer</h5>
                            <p>
                                Sebastián is in charge of creating nice and tidy views, so the users can have a great experience
                            </p>
                            <ul class="social-links text-center">
                                <li><a href="https://twitter.com/SebaGarMol"><i class="fa fa-twitter fa-lg"></i></a></li>
                                <li><a href="https://www.facebook.com/ssggmm"><i class="fa fa-facebook fa-lg"></i></a></li>
                                <li><a href="https://plus.google.com/u/0/106045069521767182362"><i class="fa fa-google-plus fa-lg"></i></a></li>
                            </ul>
                        </figcaption>
                    </div>
                    <h4>Sebastián Garcia</h4>
                    <span>UI/UX Designer</span>
                </figure>
                <!-- end single member -->
                <!-- single member -->
                <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="member-thumb">
                        <img src="img/team/nacho.jpg" alt="Team Member" class="img-responsive">
                        <figcaption class="overlay">
                            <h5>Full Stack Developer</h5>
                            <p>Nacho is the developer who works under the hood, his work is to make everthing work</p>
                            <ul class="social-links text-center">
                                <li><a href="https://twitter.com/nachogarrone"><i class="fa fa-twitter fa-lg"></i></a></li>
                                <li><a href="https://www.facebook.com/nachogarrone"><i class="fa fa-facebook fa-lg"></i></a></li>
                                <li><a href="https://plus.google.com/u/0/+NachoGarrone/"><i class="fa fa-google-plus fa-lg"></i></a></li>
                            </ul>
                        </figcaption>
                    </div>
                    <h4>Nacho Garrone</h4>
                    <span>Full Stack Developer</span>
                </figure>
                <!-- end single member -->
                <!-- single member -->
                <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="member-thumb">
                        <img src="img/team/sebau.png" alt="Team Member" class="img-responsive">
                        <figcaption class="overlay">
                            <h5>Lead Developer </h5>
                            <p>Sebastián is the one that works on every aspect of Cloth It, in charge of the hard work</p>
                            <ul class="social-links text-center">
                                <li><a href="https://www.twitter.com/sebaustinelli"><i class="fa fa-twitter fa-lg"></i></a></li>
                                <li><a href="https://www.facebook.com/sebaustinelli"><i class="fa fa-facebook fa-lg"></i></a></li>
                                <li><a href="https://plus.google.com/u/0/+SebastianUstinelli14/"><i class="fa fa-google-plus fa-lg"></i></a></li>
                            </ul>
                        </figcaption>
                    </div>
                    <h4>Sebastián Ustinelli</h4>
                    <span>Lead Developer</span>
                </figure>
                <!-- end single member -->

            </div>
        </div>
    </section>

    <!--
    End Meet Our Team
    ==================================== -->
    <!--
    Some fun facts
    ==================================== -->

    <section id="facts" class="facts">
        <div class="parallax-overlay">
            <div class="container">
                <div class="row number-counters">

                    <div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
                        <h2>Our goals</h2>
                        <div class="devider"><i class="fa fa-trophy fa-lg"></i></div>
                    </div>

                    <!-- first count item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                        <div class="counters-item">
                            <i class="fa fa-clock-o fa-3x"></i>
                            <strong>Dec 2015</strong>
                            <!-- Set Your Number here. i,e. data-to="56" -->
                            <p>Release Date</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="counters-item">
                            <i class="fa fa-users fa-3x"></i>
                            <strong data-to="3000">0</strong>
                            <!-- Set Your Number here. i,e. data-to="56" -->
                            <p>Active Users</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                        <div class="counters-item">
                            <i class="fa fa-building-o fa-3x"></i>
                            <strong data-to="30">0</strong>
                            <!-- Set Your Number here. i,e. data-to="56" -->
                            <p> Store Profiles</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
                        <div class="counters-item">
                            <i class="fa fa-tags fa-3x"></i>
                            <strong data-to="50000">0</strong>
                            <!-- Set Your Number here. i,e. data-to="56" -->
                            <p>Clothes Tagged</p>
                        </div>
                    </div>
                    <!-- end first count item -->

                </div>
            </div>
        </div>
    </section>

    <!--
    End Some fun facts
    ==================================== -->
    <!--
    Contact Us
    ==================================== -->

    <section id="contact" class="contact">
        <div class="container">
            <div class="row mb50">

                <div class="sec-title text-center mb50 wow fadeInDown animated" data-wow-duration="500ms">
                    <h2>Is your store interested ?</h2>
                    <div class="devider"><i class="fa fa-diamond fa-lg"></i></div>
                </div>

                <div class="sec-sub-title text-center wow rubberBand animated" data-wow-duration="1000ms">
                    <p>Cloth It offers Store profiles for those stores that want to publish or share new products or trends in our network. Contact us filling the form in order to have more information about Store profiles</p>
                </div>

                <!-- contact address -->
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 wow fadeInLeft animated" data-wow-duration="500ms">
                    <div class="contact-address">
                        <h3>Our Address</h3>
                        <p>Avda. 8 de Octubre 2738</p>
                        <p>Montevideo, Uruguay</p>
                        <p>+(598) 94587666</p>
                    </div>
                </div>
                <!-- end contact address -->
                <!-- contact form -->


                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="contact-form">
                        <h3>Contact Us</h3>
                        @using (Html.BeginForm("ContactUs", "Home"))
                        {
                            <div class="input-group name-email">
                                <div class="input-field">
                                    <input type="text" name="Nombre" id="name" placeholder="Name" class="form-control">
                                </div>
                                <div class="input-field">
                                    <input type="email" name="Email" id="email" placeholder="Email" class="form-control">
                                </div>
                            </div>
                            <div class="input-group">
                                <textarea name="Mensaje" id="message" placeholder="Message" class="form-control"></textarea>
                            </div>
                            <div class="input-group">
                                <input type="submit" id="form-submit" class="pull-right" value="Send message">
                                <label class="input-group pull-left" id="messageSent"></label>
                            </div>
                        }
                    </div>

                </div>

                <!-- end contact form -->
                <!-- footer social links -->
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 wow fadeInRight animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <ul class="footer-social">
                        <li><a href="https://www.twitter.com/cloth_it"><i class="fa fa-twitter fa-2x"></i></a></li>
                        <li><a href="https://www.facebook.com/clothit"><i class="fa fa-facebook fa-2x"></i></a></li>
                    </ul>
                </div>
                <!-- end footer social links -->

            </div>
        </div>

        <!-- Google map -->
        <div id="map_canvas" class="wow bounceInDown animated" data-wow-duration="500ms"></div>
        <!-- End Google map -->

    </section>

    <!--
    End Contact Us
    ==================================== -->


    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms">
                    <div class="footer-single">
                        <img src="img/footer-logo.png" alt="">
                        <p>Cloth It is a social network that targets fashion and trends about how to get dressed. Our goal is to bring users a different way to search for clothes or allowing them to get opinions from the community about the way they dress</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="footer-single">
                        <h6>Request an invite !!!</h6>
                        @using (Html.BeginForm("Subscribe", "Home", FormMethod.Post, new { @class = "subscribe" }))
                        {
                            <input type="text" name="Email" id="subscribe">
                            <input type="submit" value="&#8594;" id="subs">
                        }
                        <p>You'll get access to early realeases of our app and you'll be more popular in our netowrk</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="footer-single">
                        <h6>Explore</h6>
                        <ul>

                            <li><a href="#features">How to use</a></li>
                            <li><a href="#team">Our Team</a></li>
                            <li><a href="#work">Preview</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="footer-single">
                        <h6>Support</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>

                        </ul>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="copyright text-center">
                        Copyright © 2015 <a href="http://www.clothit.me/">Cloth It</a>. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>
    <!-- Essential jQuery Plugins
    ================================================== -->
    <!-- Main jQuery -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <!-- Single Page Nav -->
    <script src="js/jquery.singlePageNav.min.js"></script>
    <!-- Twitter Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- jquery.fancybox.pack -->
    <script src="js/jquery.fancybox.pack.js"></script>
    <!-- jquery.mixitup.min -->
    <script src="js/jquery.mixitup.min.js"></script>
    <!-- jquery.parallax -->
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <!-- jquery.countTo -->
    <script src="js/jquery-countTo.js"></script>
    <!-- jquery.appear -->
    <script src="js/jquery.appear.js"></script>
    <!-- Contact form validation -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <!-- Google Map -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- jquery easing -->
    <script src="js/jquery.easing.min.js"></script>
    <!-- jquery easing -->
    <script src="js/wow.min.js"></script>
    <script>
        var wow = new WOW({
            boxClass: 'wow',      // animated element css class (default is wow)
            animateClass: 'animated', // animation css class (default is animated)
            offset: 120,          // distance to the element when triggering the animation (default is 0)
            mobile: false,       // trigger animations on mobile devices (default is true)
            live: true        // act on asynchronously loaded content (default is true)
        }
        );
        wow.init();
    </script>
    <!-- Custom Functions -->
    <script src="js/custom.js"></script>

    <script type="text/javascript">
        $(function () {
            /* ========================================================================= */
            /*	Contact Form
            /* ========================================================================= */

            $('#contact-form').validate({
                rules: {
                    name: {
                        required: true,
                        minlength: 2
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    message: {
                        required: true
                    }
                },
                messages: {
                    name: {
                        required: "come on, you have a name don't you?",
                        minlength: "your name must consist of at least 2 characters"
                    },
                    email: {
                        required: "no email, no message"
                    },
                    message: {
                        required: "um...yea, you have to write something to send this form.",
                        minlength: "thats all? really?"
                    }
                },
                submitHandler: function (form) {
                    $('#messageSent').val("The message has been sent");
                }
            });
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-37914201-3', 'auto');
        ga('send', 'pageview');

    </script>

</body>


</html>
